<script setup lang="ts"></script>

<template>
  <div
    class="w-full px-2 py-10 flex flex-col mt-10 sm:mt-20 md:mt-32 text-center space-y-3 sm:space-y-5 md:space-y-6"
  >
    <img
      alt="Tasky logo"
      class="m-auto"
      src="@/assets/logo.svg"
      width="125"
      height="125"
    />
    <h1 class="text-3xl sm:text-4xl md:text-5xl text-force font-bold">
      Welcome to Tasky!
    </h1>
    <div class="text-xl sm:text-2xl md:text-3xl text-gray-500">
      <strong class="text-gray-600"
        >A minimalist but productive Todo-list app</strong
      ><br />
      with offline support, fully tested, <br />
      made in VueJS and other technologies <br />
      to practice, learn and experiment.
    </div>
    <div class="flex justify-center space-x-5" data-test="welcome-buttons">
      <RouterLink class="btn" :to="{ name: 'tasks' }">Booot</RouterLink>
      <RouterLink class="btn" :to="{ name: 'about' }">More</RouterLink>
    </div>
  </div>
</template>
