<script setup lang="ts">
import { ref } from "vue";
import { useTasksStore } from "@/stores/tasks";
const store = useTasksStore();

const name = ref("");
const description = ref("");
const done = ref(false);
</script>

<template>
  <div data-test="project-name">
    <label for="">Project name</label>
    <input type="text" v-model="name" />
  </div>
  <div data-test="project-desc">
    <label for="">Project description</label>
    <input type="text" v-model="description" />
  </div>
  <button
    data-test="project-submit"
    class="btn"
    @click="
      store.createProject({ name: name, desc: description }),
        (name = ''),
        (description = ''),
        (done = true),
        store.setCurrentProject(store.projects.length - 1)
    "
  >
    Create
  </button>
  <button
    data-test="back-home"
    class="btn"
    v-if="done"
    @click="$router.push({ name: 'tasks' })"
  >
    Go back home
  </button>
  <div v-if="done" class="text-green-600">
    Successfully created a new project !
  </div>
</template>
