<script setup lang="ts">
import type { Task } from "@/types";
import TaskList from "../components/TaskList.vue";
import NewTaskForm from "../components/NewTaskForm.vue";
import { useTasksStore } from "@/stores/tasks";
const store = useTasksStore();
</script>

<template>
  <div class="flex flex-wrap">
    <div
      v-if="store.projects.length != 0"
      data-test="projects-list"
      class="mr-5 px-5 py-2 border-r border-force/80"
    >
      <div class="text-lg font-bold">Projects list</div>
      <div class="text-gray-600 italic text-sm mb-3">
        You have {{ store.tasks.length }} tasks and <br />
        {{ store.doneTasks.length }} done tasks in Tasky!
      </div>
      <div>
        <div
          v-for="(project, index) in store.projects"
          :key="index"
          :data-test="'project-' + index"
          class="px-1"
          :class="{ selected: store.currentProjectIndex == index }"
          @click="store.setCurrentProject(index)"
        >
          {{ project.name }}
        </div>
      </div>
      <button class="btn mt-3" @click="$router.push({ name: 'new-project' })">
        Create a new project
      </button>
    </div>
    <div class="flex-1" v-if="store.projects.length != 0">
      <h1 class="text-4xl">{{ store.currentProject?.name }}</h1>
      <h4 class="text-lg text-gray-600">
        {{ store.currentProject?.desc }}
      </h4>

      <NewTaskForm
        @new-task="(task: Task)=> store.createTask(task)"
      ></NewTaskForm>
      <span
        ><br />Sad of not having things to do ?
        <button
          class="btn ml-5"
          @click="store.init()"
          data-test="generate-tasks-btn"
        >
          Generate fake tasks
        </button></span
      >
      <TaskList :limit="10"></TaskList>
    </div>
    <div v-else class="flex items-center">
      <div class="italic text-gray-600">
        No project for the moment... please create one!
      </div>
      <button class="btn ml-5" @click="$router.push({ name: 'new-project' })">
        Create a new project
      </button>
    </div>
  </div>
</template>
