<script setup lang="ts">
import type { Task } from "@/types";

import { ref } from "vue";
const name = ref("");
const priority = ref(10);
const emit = defineEmits<{
  (event: "new-task", task: Task): void;
}>();

function trimPriority() {
  if (priority.value > 10) {
    priority.value = 10;
  }
  if (priority.value < 1 || priority.value == null) {
    priority.value = 1;
  }
}
function save() {
  if (name.value.trim() == "") {
    return;
  }
  trimPriority();
  emit("new-task", {
    name: name.value,
    state: "todo",
    priority: priority.value,
  });
  name.value = "";
  priority.value = 10;
}
</script>

<template>
  <div
    data-test="new-task-form"
    class="border-force/50 border rounded-sm p-2 w-min"
  >
    <h4 class="text-lg">New task</h4>
    <div class="flex items-center">
      Priority:
      <input
        type="number"
        class="w-16 mx-3 px-2"
        v-model="priority"
        min="1"
        max="10"
        data-test="task-priority"
        @focusout="trimPriority()"
      />
      <input
        type="text"
        data-test="task-name"
        class="py-1 px-2 inline w-max"
        v-model="name"
        placeholder="New task name + Enter"
        @keydown.enter="save()"
      />
    </div>
  </div>
</template>
