<script setup lang="ts">
import type { Task } from "@/types";
defineProps<{
  task: Task;
}>();

defineEmits<{
  (event: "set-done", id: number): void;
}>();
</script>

<template>
  <div>
    <div
      class="mr-3 rounded-full inline-flex h-7 w-7 items-center justify-center"
      :class="{
        'bg-green-500': task.state == 'done',
        'bg-blue-400': task.state == 'archived',
        'bg-force/50 hover:bg-force cursor-pointer': task.state == 'todo',
      }"
    >
      <span v-if="task.state == 'todo'"
        ><input type="checkbox" @click.prevent="$emit('set-done', task.id)"
      /></span>
      <span v-else>Ok</span>
    </div>
    {{ task.name }}
    <div class="ml-8 text-gray-600 italic">{{ task.desc }}</div>
  </div>
</template>
