<script setup lang="ts">
import type { Task } from "@/types";
import TaskItem from "./TaskItem.vue";
import { useTasksStore } from "@/stores/tasks";
// import type { Task } from "@/types";
const store = useTasksStore();

defineProps<{
  limit?: number;
}>();
</script>

<template>
  <div data-test="tasks-list">
    <div
      v-for="(task, index) in store.currentTasks"
      :key="task.id"
      :data-test="'task-' + index"
    >
      <TaskItem :task="task" @set-done="(n) => store.setAsDone(n)"></TaskItem>
    </div>
  </div>
</template>
