@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Cantarell, Consolas, sans-serif;
	@apply bg-calmer
}

.btn {
	@apply bg-calm px-2 py-1 rounded-md border border-force/50 font-bold
}

.selected {
	@apply bg-force/50
}